@use '../../index.scss';

.plan {
    display: flex;
    flex-direction: column;
    flex: 1 1 33.3%;
    padding: 1.2rem;
    border: 1px solid index.$neutral-cool-gray;
    border-radius: .5rem;
    cursor: pointer;
    &_selected {
      border-color: index.$purplish-blue;
      background-color: index.$alabaster;
    }
    &:hover {
      border-color: index.$purplish-blue;
    }
   //  &:not(:last-child) {
   //    margin-right: 1rem;
   //  }
     &_icon {
        width: 2.5rem;
        height: auto;
        margin-bottom: 2.5rem;
     }
}
.description {
   display: flex;
   flex-direction: column;
   p {
      &:not(:last-child) {
         margin-bottom: .3rem;
      }
   }
}

.name {
   color: index.$marine-blue;
}

.cost {
   color: index.$light-gray;
   font-size: 1rem;
}

.title {
   color: index.$marine-blue;
   font-size: .8rem;
    
}

.active {
   display: none;
 }