@use '../../index.scss';

.plan {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1rem;
    border: 1px solid index.$neutral-cool-gray;
    border-radius: .5rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }
     &_icon {
        width: 2.5rem;
        height: auto;
        margin-bottom: 3rem;
     }
}
.description {
   display: flex;
   flex-direction: column;
   p {
      &:not(:last-child) {
         margin-bottom: .5rem;
      }
   }
}

.name {
   color: index.$marine-blue;
}

.cost {
   color: index.$light-gray;
   font-size: .8rem;
}

.title {
   color: index.$marine-blue;
   font-size: .8rem;
    & .active {
      display: none;
    }
}