@use '../../index.scss';
$num-size: 2.5rem;
.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: index.$white;
    font-size: 1rem;
    margin: 10px;
    
    &_num {
        width: $num-size;
        height: $num-size;
        border-radius: 50%;
        border: solid index.$white 2px;
        text-align: center;
        line-height: calc($num-size - .5rem);
        margin-right: 1rem;
        align-self: center;
        justify-self: center;
        font-weight: 700;

        &.active {
            color: index.$purplish-blue;
            background-color: index.$light-blue;
            border-color: index.$light-blue;
        }
    }

    &_desc {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

        &_header {
            color: index.$light-gray;
        }
    }
}