@use '../../index.scss';

.addon {
    display: flex;
    flex-direction: row;
    align-items: center;
    //justify-content: flex-start;
    border: 1px solid index.$light-gray;
    border-radius: 10px;
    padding: 1.2rem 1.5rem 1.2rem;
    
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
    &:hover {
        border: solid 1px index.$purplish-blue;
    }
    

    &_checkbox {
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 5px;
        border: 1px solid index.$light-gray;
        margin-right: 1.5rem;
        cursor: pointer;
        &.checked {
            background-image: url('../../images/icon-checkmark.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size:auto;
            background-color: index.$purplish-blue;
        }
        &_check {
            display: none;
        }
    }

    &_description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        &_header {
            margin-bottom: .4rem;
            font-weight: 700;
            color: index.$marine-blue;
        }

        &_title {
            color: index.$neutral-cool-gray;
            font-size: 14px;
            font-weight: 300;
        }
    }

    &_price {
        display: flex;
        flex: auto; 
        justify-content: flex-end;
        color: index.$purplish-blue;
        font-size: .85rem;
        font-weight: 300;
        letter-spacing: 0;
    }

    &.selected {
        border: solid 1px index.$purplish-blue;
        background-color: index.$light-blue;
    }

}

