@use '../../index.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    color: index.$marine-blue;
    font-size: 1.2rem;
}

.text {
    color: index.$light-gray;
}