.board {
    height: 500px;
    width: 300px;
    margin: 10px;
    background-image: url('../../images/bg-sidebar-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    
    
    

}

