.board {
    height: 568px;
    width: 280px;
    // margin: 10px;
    background-image: url('../../images/bg-sidebar-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    flex: 1 1 280px;
    
    

}

