.board {
    height: 568px;
    width: 300px;
    // margin: 10px;
    background-image: url('../../images/bg-sidebar-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: .5rem 0;
    
    
    

}

